* {
	box-sizing: border-box;
}


body {
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 50px;
	text-align: center;
	animation: title 10s ease infinite;
	margin: 25px 0 10px 0;
	line-height: 50px;

}

@keyframes title {
	0%  {opacity: 0;}
	25%  {opacity: 0.25;}
	50%  {opacity: 0.5;}
	75%  {opacity: 1;}
	100% {opacity: 0;}
}

.wrap{
	max-width: 1000px;
	margin: auto;
}

p{
	font-size: 25px;
	text-align: right;
	animation: yu 5s infinite;
	margin: 5px 0 10px 0;
	line-height: 100px;
	position:relative;
}

@keyframes yu {
	0%{
		right:0px; 
		opacity: 0;
	}
	50%{
		right:50px;
		opacity: 0.5;
	}
	70%{
		right:100px;
		opacity: 1;
	}
	100%{
		right:250px;
		opacity: 0;
	}



	