.box {
  padding: 15px;
  float: left;
  width: 33.33333333%;
  border: 1px solid #F8F8FF;
  border-top-width: 5px;
}

.info {
  border-color: #F8F8FF;
}

.contact {
  border-color: #F8F8FF;
}

.company {
  border-color: #F8F8FF;
}